* {
    margin: 0px;

    box-sizing: border-box;

    font-family: 'Lucida Console', Lucida, monospace;

    text-align: center;

    padding: 0px;
    
}

body {background-image: radial-gradient(circle at center , blue , black);}



.sitelogo img {
    width: 5cm;

    margin-bottom: 20px;
}

/* Navigation Interactions */

@keyframes ButtonHover {
    0% {font-size: 100%}

    0% {color: cyan}


    100% {font-size: 115%}

    100% {color: teal}
}

@keyframes ButtonStoppedHover {
    0% {font-size: 115%}

    0% {color: teal}


    100% {font-size: 100%}

    100% {color: cyan}
}

nav ul{
    display: flex;

    justify-content: center;

    list-style-type: none;

     gap: 27px;
}

nav a:hover {
    animation-name: ButtonHover;
    animation-duration: 1s;

    font-size: 115%;

    color: teal;
}



nav a {
    animation-name: ButtonStoppedHover;
    animation-duration: 0.5s;

    font-size: 100%;

    color: cyan;
}

nav a:link {
    

     text-decoration: none;
}

nav a:visited {
    

     text-decoration: none;
}

/* The Writing */


header {
    padding: 10px 0px 10px 0px;

    margin-bottom: 10px ;

    align-items: center;

    background-image: linear-gradient(to bottom , cyan , teal , blue);

    color: aqua;
}


header nav ul {
    display: flex;
    
    font-size: large;

    -ms-flex-align: center;
}

body h1 {
    text-align: center;

    color: cyan ;

    margin-top: 50px;
    
}

h2 {
    color: teal ;

    
}

footer nav {
    margin: 0px 0px 0px;
}

.rounded {
    margin: 10px 0px 15px;

    border-radius: 100px;
}

p {
    color: skyblue;
}

p1 {

    color: aqua;

    text-align: center;

    
}



footer {

    padding: 30px 0px 20px;


    margin-top: 20cm ;

    background-color: teal;

    background-image: linear-gradient(to top , cyan , teal , blue);

    color: aqua;
}

/* Styles */


.inthispage {
    color: teal
}

.imagelists {
    display: flex;
    justify-content: center;
    

    width: 100%;

    margin: 0px;

    max-width: 1200px;

    height: 100%;

    max-height: 400px;


    margin: 80px auto 0px;

    align-items: center;
    
}

.imagelists article {
    width: 400px;

    height: 400px;
    
    margin: auto 10px auto;

    flex-wrap: wrap;
   
}

.imagelists h2 {
    text-align: center;

    margin: 2px 0px 2px;
}


.imagelists article img {
    border-radius: 0px;

    height: 400px;

    align-items: center;

    width: 100%;
    max-width: 1000px;
}

.hasbuttons article h3 {
  background-image:linear-gradient(to right , cyan , lightgreen,  green) ;

  padding : 5px 10px 5px;
  
  border-radius: 100px;
}